#title{
	font-size: 26px;
	line-height: 75px;
	text-align: center;
	grid-column: 2;
}

#mainPage{
	font-size:30px;
}

#options_id{
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
}

#center{
	grid-column: 2;
}

input[type=number]{
	height: 3rem;
	font-size: 1.3rem;
	font-weight: bold;
	width: 3rem;
	text-align: center;
}

.menu-object{
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: 75px;
	font-size: 16px;
	margin-top: 10px;
	padding: 25px 9px;
	display:block;
}

p{
	text-align: center; 
}

button.menu-object:active{
	font-size: 18px;
	width: 275px;
	height: 70px;
}

button.menu-object:hover:not(:active){
	font-size: 22px;
	font-style:italic;
	background-color: rgb(160, 161, 115);
	color: white;
	width: 325px;
	height: 85px;
}

