<!DOCTYPE html> 
<html>
	<head>
		<link rel="stylesheet" href="../styles/main.css">
		<script src="../js/loader.js"></script>
		<title> My first game - Game </title>
		<style>body{background-color: antiquewhite;}</style>
	</head>
	<body>
		<p id="title">Memory game</p>
		<div id="game_id">
			<p id="title" class="menu-object">Is playing {{username}}</p>
			<p v-if="score_text <= 0" id="center">You Lose</p>
			<p v-else-if="num_cards <= 0" id="center">Great {{name}}, you WIN with: {{score_text}}/100 points!!</p>
			<img v-else v-for="(card, indx) in current_card" :src="card.texture" v-on:click="clickCard(indx)">
			<p v-if="bad_clicks < 100/pointsBC && num_cards > 0" id="center">Intents restants: {{ (100 - bad_clicks * pointsBC)/pointsBC }}</p>
			<p  v-if="bad_clicks < 100/pointsBC && num_cards > 0" id="center">RestaPunts/Error: {{ pointsBC }}</p>
		</div>
		<a id="title" class="menu-object" href="../">GoToMenu</a>
	</body>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
	<script src="../js/game_controller.js"></script>
</html>
